@page "/countries/edit/{Id:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Editar País</h3>

@if (country is null)
{
    <p>Cargando...</p>
}else
{
    <CountryForm @ref="countryForm" country="country" OnvalidSubmit="EditAsync" ReturAction="Return"></CountryForm>
}

@code {
    private Country? country;
    private CountryForm? countryForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repository.Get<Country>($"/api/countries/{Id}");
        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/countries");
                return;
            }

            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        country = httpResponse.Response;
    }

    private async Task EditAsync()
    {
        var httpResponse = await repository.Put("/api/countries", country);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        countryForm!.FormPostSuccessfully = true;
        navigationManager.NavigateTo("/countries");
    }

    private void Return()
    {
        countryForm!.FormPostSuccessfully = true;
        navigationManager.NavigateTo("/countries");
    }
}
